*.xml
*.swp
.idea
cmake-build-debug
~$*
.vscode
*.obj
*.tlog
*.log
*.suo
*.db
*.pch
*.ipch
*.pdb
*.user
*.pb.cc
*.pb.h
.DS_Store
x64
build
build_release
examples/client_demo/bin/
examples/self_test/bin/
examples/server_demo/bin/
examples/load_test/bin/
